.body{
    background-color: #F1F0E8;
}


.item{
    display: flex;
    align-items: center;
    justify-self: flex-start;
    font-family: 'Poiret One', cursive;
    font-weight: bolder; 
    font-size: x-large;
}

.rainbow{
   margin-left: 60%; 
}

