.body{
    background-color: #F1F0E8;
    box-sizing: border-box; 
    height: 100vh;  
}

.header-part{
    background-color: #EEE0C9;
    height: 135px;          
}

.works-button{
    display: inline-block;
    position: relative;
    left: 55px;
    top: 95px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder; 
    font-size: x-large;

}

.contact-button{
    display: inline-block;
    position: relative;
    left: 165px;
    top: 95px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder; 
    font-size: x-large;
}

.logo-pic{
    display: inline-block;
    position: absolute;
    left: 898px;      
    top: 20px;
}

.main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 130px; 
}

.main-left{
   margin-left: 220px;       
}

.main-right{
    margin-top: -50px;
    margin-left: -70px;
}

.big-text{
    font-family: 'Calligraffitti', cursive;
    font-size: 65px; 
    font-weight: normal;
}

.small-text{
    font-family: 'Poiret One', cursive;
    font-size: 32px;  
    font-weight: 300;
}

.clickable {
    cursor: pointer;
}

.link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.three-part{
    margin-right: 275px;
    margin-top: 76px; 
}   

.section{
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    text-align: right; 
    padding: 18px;  
}

hr {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #DAB88B, rgba(0, 0, 0, 0));
}

.footer-content{
    background-color: #EEE0C9;
    display: flexbox; 
    flex-direction: row-reverse;
    height: 120px;
}

.footer-content > h3{
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-size: x-large;
    letter-spacing: 8px;
    
}

.footer-content > p{
    margin-left: 20px; 
    font-family: 'Quicksand', sans-serif;
}